# =====================
# Dependencies
# =====================
node_modules/
**/node_modules/

# =====================
# Builds
# =====================
build/
dist/
.next/
out/
**/build/
**/dist/

# =====================
# Env files
# =====================
.env
.env.local
.env.*.local

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# OS
# =====================
.DS_Store
